# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual Environments
env/
venv/
.venv/

# Flask instance (database, config)
instance/
.webassets-cache

# Environment secrets
.env

# IDE
.vscode/
.idea/
